<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel | Rooms</title>
</head>
<body>
    <table>
        <tr>
            <th>Room Number</th>
            <th>Room Name</th>
            <th>Room Info</th>
        </tr>
        <tr th:each="room:${rooms}">
            <td th:text="${room.roomNumber}">Number</td>
            <td th:text="${room.roomName}">Name</td>
            <td th:text="${room.roomInfo}">Info</td>
        </tr>
    </table>
</body>
</html>